/*--------------------- PADRÃO PROJETO ---------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*--------------------- NAVBAR ---------------------*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

/* Base navigation styles */
.navbar ul {
  list-style-type: none;
  display: flex;
}

.car {
  color: #fff;
}

/*--------------------- HEADER ---------------------*/
.tab-link {
  color: #747874;
  padding: 14px 20px;
  cursor: pointer;
  transition: background 0.3s;
}

/* QUANDO ESTIVER SELECIONADO */
.tab-link.active {
  color: #005231;
  font-weight: bold;
}

/* QUANDO O HOVER NÃO ESTIVER ATIVO */
.tab-link:hover:not(.active) {
  color: #005231;
}

/*--------------------- HERO ---------------------*/

.sommelier {
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: inline-block;
  color: #007244;
  text-decoration: none;
  transition: 0.3s;
}

.home-title {
  margin-top: 3rem;
  font-size: 3rem;
}

.home-café {
  font-size: 6rem;
  font-style: italic;
  color: #005231;
}

.btn-comprar {
  margin-top: 3rem;
  background-color: #005231;
  border-radius: 40px;
  padding: 1.3rem 3rem 1.3rem 3rem;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.btn-comprar:hover {
  cursor: pointer;
  background-color: #003d25;
}

.btn-nossosgraos {
  margin-left: 1.5rem;
  margin-top: 3rem;
  border-color: #000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  padding: 1.3rem 3rem 1.3rem 3rem;
  display: inline-block;
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

.btn-nossosgraos:hover {
  cursor: pointer;
  background-color: #eee;
}

/*--------------------- HOME ---------------------*/
.home {
  display: flex;
  grid: 2;
  width: 100vw;
  justify-content: space-between;
}

/*--------------------- ACHVIMENTS ---------------------*/
.achviments {
  border: 1px solid #000;
}

.achviments ion-icon {
  font-size: 45px;
}

.achviments-div {
  padding: 5rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.achviments h2 {
  margin-top: 1.5rem;
}

.achviments p {
  margin-top: 1.5rem;
  color: #888888;
}

/*--------------------- PRDUCTS ---------------------*/

.products-title-one {
  font-size: 76px;
}
.products-title-two {
  color: #005231;
  font-size: 76px;
  border-bottom: 3px solid #005231;
}
.product-div {
  display: columns;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  margin: 2%;
}

.product-div h4 {
  margin-top: 1rem;
  color: #005231;
}
.product-div p {
  opacity: 0.5;
  margin-top: 1rem;
}

/*--------------------- ABOUT ---------------------*/

.about {
  background-color: #000;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 3rem;
  padding: 8rem 12rem 8rem 12rem;
}

.about h2 {
  color: #fff;
}
.about p {
  color: #fff;
}
.about h1 {
  color: #fff;
}

.about-person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-right: 25rem;
}
.about-person img {
  width: 5vw;
  border-radius: 50%;
  filter: grayscale(100%);
}
